.matriz_pantalla{
    top: 150px;
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 35x;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
	background-color: #fff;
}

.matriz_btn{
    padding: 10px 10px 10px 10px;
}

#boton1, #boton3, #boton4{
    margin: 10px;
    transition: .3s ease all;
    width: 250px;
}

#boton2, #boton5, #boton6, #boton7{
    background-color: #000;
    border-color: #000;
    color: #fff;
    width: 520px;
    margin: 10px;
    transition: .3s ease all;
    max-width: 100%;
}